/*Web font builder: https://www.fontsquirrel.com/tools/webfont-generator*/
/* TODO find a font optimized for legibility */
/*@font-face {
    font-family: Aller;
    src: url(./Fonts/aller_rg-webfont.woff);
}*/

/*https://www.color-hex.com/color-palette/69481*/

/* Real body */
body {
    /*font-family: Aller, sans-serif;*/
    margin: 0;
	background-color: #f4f0e6;
	font-family: "Verdana" sans-serif;
	font-size: 1.5rem;
	text-align: center;
}


/* Global Util */
.round-top {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.round-bottom {
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}