/*Web font builder: https://www.fontsquirrel.com/tools/webfont-generator*/
/*@font-face {
    font-family: Aller;
    src: url(./Fonts/aller_rg-webfont.woff);
}*/

/*https://www.color-hex.com/color-palette/69481*/

/* Real body */
body {
    /*font-family: Aller, sans-serif;*/
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
    background-color: #f4f0e6;
}


/* Vue Body */
#panel-selector-container {
	/*width: 100%;*/ 
	height: 15vh;
}

#panel-container {
	width: 100%; 
	height: 85vh; 
	overflow-y: auto;

}


/* Panel Selector */
#panel-selector {
	height: 100%;
}

.selector-option {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}


/* Panel */



/* Util */
.round-top {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.round-bottom {
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
/*.row-no-container {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.col-no-container {
	padding-left: 0 !important;
	padding-right: 0 !important;
}*/